@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Signika:wght@300;400;500;600;700&display=swap');

body{
    font-size: 1.5em;
    font-family: 'Signika';
    color: black;
    position: relative;
    margin-top: -10px;
    margin: 0;
    padding: 0;
}


/************** LOGIN PAGE *******************/

.main__login{
    display: flex;
    margin: auto;
}

.main__login__picture{
    display: none;
}

.main__login__form{
    width: auto;
    height: auto;
    text-align: center;
    display: flex;
}

.main__login__form__items{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 70vw;
    padding: 100px;
}

.main__login__logo{
    margin-bottom: 30px;
}

.login__logo{
    width: 130px;
    height: 60px;
}

.main__login__title{
    margin-bottom: 30px;
}

.main__login__button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;    
}

.facebook__button, .google__button, .apple__button{
    display: inline-flex;
    justify-content: center;
    border: 1px solid black;
    font-size: 20px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    text-align: center;
    text-decoration-line: none;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 5px;    
}

.facebook__logo, .google__logo, .apple__logo{
    height: 24px;
    width: 24px;
    margin-right: 15px;
}


.global__form__contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 20px;
}

.form__contact__name{
    display: flex;
    flex-direction: row;
    vertical-align: baseline;
    margin-bottom: 20px;
    justify-content: space-between;
}

.first__name{
margin-right: 20px;
}

.input__firstname, .input__secondname{
    height: 35px;
    width: 190px;
}

.second__name{
    margin-left: auto;
}

.form__contact__mail{
    display: flex;
    vertical-align: baseline;
    margin-bottom: 20px;
}

.email{
    margin-bottom: 20px;
}

.input__email{
    height: 35px;
    width: 410px;
}

.password{
    margin-bottom: 80px;
}

.input__password{
    height: 35px;
    width: 410px;
}


.form__contact__text{
    font-size: 16px;
    font-weight: 200;
}

.form__text{
    color: #047584;
    font-weight: 300;
    cursor: pointer;
    text-decoration: underline;
}


.form__contact__button{
    margin-top: 80px;
}

.contact__button{
    font-size: 20px;
    background-color: #047584;
    color: #ffffff;
    text-align: center;
    border-radius: 4px;
    padding: 15px;    
    width: auto;
    padding-left: 170px;
    padding-right: 170px;
    margin: auto;
}

.form__contact__text__account{
    margin-top: 40px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}






/**************** INDEX PAGE *****************/




/** NAVBAR**/

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 90px;
    position: fixed;
    z-index: 4;
    background-color: #ffffff;
    margin-top: -30px;
}


/** NAV 1 **/

.navbar{
    height: 150px;
}

.navbar1__items__logo{
    position: absolute;
}

.navbar1__items__logo__img{
    width: 130px;
    height: 60px;
    margin-left: 20px;
    margin-top: 1px;
}

.navbar1__items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.input__navbar{
    width: 250px;
    height: 30px;
    background-color: rgb(239, 239, 239);
    border: none;
    border-radius: 4px;
    margin-left: 200px;
}

.login1{
    border: solid 1px;
    height: 15px;
    border-radius: 4px;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    width: 150px;
    text-decoration-line: none;
}

.login2{
    margin-right: 5px;
    height: 17px;
    border-radius: 4px;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    width: 150px;
    text-decoration-line: none;
    background-color: #047584;
    color: #ffffff;
}

.login3{
    height: 30px;
    border-radius: 4px;
    font-size: 15x;
    padding: 10px;
    text-align: center;
    justify-content: center;
    width: 20px;
    text-decoration-line: none;
    color: black;
}

.navbar1__items__login{
    display: none;
}

.navbar1__items__login, a{
    margin-right: 25px;
}

.navbar1__items__burger,i{
    color: #34929a;
    margin-left: -70px;
    position: relative;
}

/** NAV 2 **/

.navbar2__items{
    display: none;
}


/** HOME SECTION **/

.main{
    padding-top: 40px;
}

.main__home{
    display: flex;
    flex-direction: row;
}

.main__home__content{
    width: 100%;
}

.main__home__button{
    margin-right: 5px;
    height: 40px;
    border-radius: 4px;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    width: 400px;
    text-decoration-line: none;
    background-color: #047584;
    color: #ffffff;
}

.home__picture{
    display: block;
    height: 350px;
    width: 100vw;
    margin:auto;
    background-size: contain;
    height: auto;
}

.main__home__content__title{
    position: absolute;
    padding: 30px;
    align-items: center;
}

.main__home__content__title>h1{
    font-size: 30px;
}    



/** CARDS SECTION **/


.main__card{
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 200px;
    width: 100%;
}

.main__card__content{
    width: 100%;
    flex:1 1 0%;
    margin: auto;
}

.main__card__title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 100px;
}

.main__card__title, h1{
    font-size: 40px;
    font-weight: 500;

}

.main__card__title>a{
    color: black;
    font-size: 20px;
    font-weight: 300;
    margin-right: 100px;
    text-decoration: underline;
}

.main__card__products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}

.main__card__product{
    display: flex;
    width: 300px;
    height: 500px;
    margin: 10px;
    cursor: pointer;
}

.card__img{
    display: block;
    width: 300px;
    height: auto;
    position: relative;
    z-index: 1;
}

.card{
    position: relative;
}

.card__logo{
    width: 25px;
    height: 25px;
    position: absolute;
    z-index: 3;
    color: black;
    top: 25px;
    right: 25px;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 5px;
}

.card__product{
    padding-left: 20px;
    font-size: 16px;
}

.mark__product, .size__product{
    font-weight: lighter;
    margin-top: -10px;
}

.mark__product{
    font-size: 18px;
    margin-bottom: 2px;
}


/** SEND SECTION**/


.main__send{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main__send__content{
    width: 100%;
}

.main__send__title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 100px;
}

.main__send__title, h2{
    font-size: 40px;
    font-weight: 500;

}

.main__send__step{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}


.main__send__cards{
    display: flex;
    width: 400px;
    height: 550px;
    cursor: pointer;
    margin-top: 20px;
}


.send__img{
    display: block;
    height: auto;
    width: 400px;
}

.send{
    width: 400px;
}

.send__title{
    font-weight: 400;
}

.send__text{
    font-weight: 200;
    font-size: 20px;
}

.main__send__button{
    width: 100%;
    text-align: center;
}

.send__button{
    display: inline-block;
    border: solid 1px #047584;
    border-radius:7px;
    font-size: 25px;
    padding: 20px;
    text-decoration-line: none;
    color: #047584;
    margin: 0 auto;
}
    

/** USERS SECTION **/ 

.main__users{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}

.main__users__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
}

.main__users__title{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 100px;
    width: 100%;
}

.main__users__card{
    text-align: center;
}

.main__users__cards{
    display: flex;
    width: 400px;
    height: 500px;
    margin-top: 100px;
    margin-bottom: 70px;
    cursor: pointer;
}


.users{
    display: flex;
    flex-direction: column;
}

.users__img{
    display: block;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-size: cover;
}

.users__name{
    font-weight: 500;
    font-size: 30px;
}
.users__followers{
    font-weight: 300;
    font-size: 25px;
}

.users__button{
    display: inline-block;
    text-align: center;
    border: solid 1px #047584;
    border-radius:7px;
    font-size: 20px;
    padding: 15px;
    width: 150px;
    text-decoration-line: none;
    color: #047584;
    margin: 0 auto;
}


/** SHOP SECTION**/


.main__shop{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main__shop__content{
    width: 100%;
    margin: auto;
}

.main__shop__title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 100px;
}

.main__shop__title, h1{
    font-size: 40px;
    font-weight: 500;

}

.main__shop__step{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    margin-top: 50px;
}


.main__shop__cards{
    display: flex;
    width: 400px;
    height: 500px;
    cursor: pointer;
}


.shop__img{
    display: block;
    height: auto;
    width: 400px;
}

.shop{
    width: 400px;
}

.shop__title{
    font-weight: 400;
}

.shop__text{
    font-weight: 200;
    font-size: 20px;
}

.main__shop__button{
    width: 100%;
    text-align: center;
}

.shop__button{
    display: inline-block;
    border: solid 1px #047584;
    border-radius:7px;
    font-size: 25px;
    padding: 20px;
    text-decoration-line: none;
    color: #047584;
    margin: 0 auto;
}


/** JOIN SECTION**/


.main__join{
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
    justify-content: center;
}

.main__join__content{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.main__join__us{
    flex: 1 1 0%;
}

.main__join__us__img{
    display: flex;
    justify-content: center;
}

.main__join__us__img, .cgv__img{
    width: 180px;
    height: 60px;
    margin: auto;
    border-radius: 10px;
}

.main__join__picture{
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    flex: 1 1 0%;
}

.main__join__picture, img{
    width: 350px;
    height: auto;
    justify-items: center;
}


/** LOGO SECTION**/


.main__logo{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main__logo__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1 1 0%;
    position: relative;
    padding: 25px 15px;
    cursor: pointer;
}

.logo__img{
    display: block;
    width: 50px;
    height: 50px;
}


/** FOOTER SOCIAL**/


.footer__social{
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.footer__social__logo{
 display: flex;
 flex-direction: row;
 margin-top: 100px;
 justify-content: center;
}


.footer__social__logo, .social__logo{
    width: 50px;
    height: 50px;
}

.footer__social__appli{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    justify-content: center;
}

.footer__social__appli, .social__appli{
    width: 180px;
    height: 60px;
    border-radius: 8px;
}


/** FOOTER CONTACT **/

.footer__contact{
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style-type: none;
    margin-top: 25px;
}

.footer__contact, h3{
    font-weight: 400;
}

.footer__contact, ul{
    list-style-type: none;
    font-weight: 200;
}

.footer__contact, ul, li{
    padding-left: 0px;
}


/** FOOTER CVG **/


.footer__cvg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
}

.footer__cvg__bank{
    display: flex;
    flex-direction: row;
    margin-top: 45px;
    justify-content: center;
    align-items: center;
}

.footer__cvg__bank, .cvg__visa, .cvg__mastercard{
    width: 80px;
    height: 50px;
}






/*************** MEDIA QUERIES LOGGIN PAGE *************/


@media (min-width: 1024px){
    .main__login__picture{
        display: block;
        width: 50vw;
        margin-top: 150px;
    }

    .login__picture{
        width: 50vw;
        height: 100vh;
        background-position: center;
        background-size:contain;
    }

    .main__login__form{
        width: 50vw;
        position: relative;
        margin-top: 50px;
    }

    .main__logo{
        margin-top: -100px;
    }
}


/**************** MEDIA QUERIES INDEX PAGE ************/



@media (min-width:768px){
    .home__picture{
        height: 550px;
        display: block;
        width: 100vw;
    }

    .main__home{
        position: absolute;
    }

    .main__home__content__title{
        position: relative;
        z-index: 2;
        margin-top: -380px;
        background-color: #ffffff;
        margin-left: 50px ;
        width: 500px;
        height: 250px;
        border-radius: 10px;
        padding: 30px;
    }

    .main__card{
        padding-top: 550px;
    }

    .main__join{
        display: flex;
        flex-direction: row;
    }

    .main__join__picture, img{
        overflow: hidden;
        width: 760px;
        height: 600px;
        margin-left: 0px;
    }

    .main__logo__content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 100px;

    }

    .main__logo__item{
        justify-content: center;
        width: 300px;
        height: 500px;
        padding: 50px;
    }

   .logo__img{
        width: 200px;
        height: 200px;
    }

    .footer__social{
        flex-direction: row;
        justify-content: space-evenly;
        vertical-align: center;
        align-items: center;
        height: 150px;
    }

    .footer__social__logo, .social__logo{
        margin-bottom: 12px;
    }

    .footer__social__logo, .footer__social__appli{
        margin-bottom: 90px;
    }

    .footer__contact{
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0;
    }

    .footer__cvg{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .footer__cvg__bank, .cvg__visa, .cvg__mastercard{
        margin-bottom: 20px;
    }

}




@media (max-width: 1024px){
    .input__navbar{
        margin-top: 100px;
        position: relative;
        margin-left: 10px;
        margin-bottom: 10px;
        width: 95vw;
        align-items: center;
    }   
}






@media (min-width: 1024px){ 
    .navbar1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .navbar2{
        display: flex;
    }

    .navbar1__items{
        margin: auto;
    }

    .navbar1__items__login{
        display: flex;
        justify-content: space-evenly;
        width: 70vw;
        margin-top: 20px;
    }
    
    .login1{
        margin-left: 150px ;
        border: solid 1px #047584;
        color: #34929a;
        border-radius: 4px;
        text-align: center;
        justify-content: center;
        width: 150px;
        text-decoration-line: none;
    }
    
    .login2{
        margin-left: 20px ;
        border: solid 1px #047584;
        height: 15px;
        border-radius: 4px;
        padding: 10px;
        text-align: center;
        justify-content: center;
        width: 150px;
        text-decoration-line: none;
    }
    
    .login3{
        height: 30px;
        border-radius: 4px;
        padding: 10px;
        text-align: center;
        justify-content: center;
        width: 70px;
        text-decoration-line: none;
    }

    .navbar2__items{
            display: flex;
            flex-direction: row;
            list-style-type: none;
            font-size: 16px;
            margin-left: 50px;
        }

    .navbar2__items__femmes, .navbar2__items__hommes, .navbar2__items__enfants{
        text-decoration-line: none;
        font-size: 20px;
    }
   
    .navbar2__items, a{
        color: rgb(89, 84, 84);
        text-decoration-line: none;
    }

    .navbar1__items__burger{
        display: none;
    }
}